[submodule "external/openconnect"]
	path = external/openconnect
	url = https://github.com/loplex/openconnect-android.git
[submodule "external/stoken"]
	path = external/stoken
	url = https://github.com/loplex/stoken.git

